/* CSS declarations go here */
.login-form.well {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login-form.well input {
    display: block;
    width: 95%
}

.cursorHand {
  cursor: hand !important;
  cursor: pointer !important;
}

input[data-action="add"]{
  box-shadow: none;
}

.label {
  opacity: 0.7;
}

ul {
  list-style: none outside none;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  font-size: 100%;
}

a, a:visited, a:active {
  color: #258;
}

h3 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 120%;
  padding: 8px 6px;
  text-align: center;
}

.user, .comment, .tag {
  cursor: pointer;
  float: left;
  margin: 5px;
  padding: 2px 7px;
  font-size: 80%;
  font-weight: bold;
  background: #999;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;

  opacity: 1;
  transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;

  position: relative;
}

#tag-filter .label {
  float: left;
  margin-top: 9px;
  margin-left: 12px;
  margin-right: 8px;
}

#tag-filter .tag {
  margin-top: 10px;
  border: 1px solid #777;
}

#tag-filter .selected {
  background: #69d;
}

#tag-filter .count {
  font-weight: normal;
  padding-left: 2px;
}

#user-filter .label {
  float: left;
  margin-top: 9px;
  margin-left: 12px;
  margin-right: 8px;
}

#user-filter .user {
  margin-top: 10px;
  border: 1px solid #777;
}

#user-filter .selected {
  background: #69d;
}

#user-filter .count {
  font-weight: normal;
  padding-left: 2px;
}

#new-question-box {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 20px;
  font-size: 160%;
  position: relative;
  height: 40px;
}

#new-question {
  position: absolute;
  width: 100%;
}

#items-view {
  margin-top: 5px;
  margin-left: 5px;
}

#item-list .question {
  display: block;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ccc;
}

#item-list .question .destroy {
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 15px;
  height: 20px;
  width: 20px;
}

#item-list .question .display, #item-list .question .edit {
  margin-left: 30px;
  height: 100%;
  width: auto;
  float: left;
  padding-top: 18px;
  line-height: 1;
}

#question-input {
  width: 300px;
  position: relative;
  top: -3px;
}

#item-list .done .question-text {
  text-decoration: line-through;
  color: #999;
}

#item-list .question:hover .destroy {
  background: url('/destroy.png') no-repeat 0 0;
}

#item-list .question .destroy:hover {
  background-position: 0 -20px;
  }

#item-list .question .label .label-info {
  overflow: auto;
  float: right;
  margin-right: 8px;
  margin-top: 18px;
}

#item-list .question .label {
  overflow: auto;
  float: right;
  margin-right: 8px;
  margin-top: 18px;
}


#item-list .question .item-tags {
overflow: auto;
float: right;
margin-right: 8px;
}

#item-list .question .comment {
  overflow: auto;
  float: right;
  margin-right: 8px;
}


#item-list .question .item-tags .tag {
  margin-top: 15px;
}

#item-list .question .comment{
  margin-top: 15px;
}

#item-list .question .item-tags .removable_tag {
  padding-right: 22px;
}

#item-list .question .item-tags .tag .remove {
  position: absolute;
  top: 0;
  right: 4px;
  bottom: 0;
  width: 16px;
  background: url("/close_16.png") no-repeat 0 center;
}

#item-list .question .item-tags .tag .remove:hover {
  background-position: -16px center;
}

#item-list .question .item-tags div.addtag {
  background: none;
  color: #333;
  border: 1px dashed #999;
}

#item-list .question div.addComment {
  background: none;
  color: #333;
  border: 1px dashed #999;
}

#item-list .question .check {
  float: left;
  width: 25px;
}

#item-list .question .question-text {
  float: left;
  margin-left: 10px;
  font-size: 100%;
}

#item-list .question .edit input {
  margin-left: 35px;
}

#edittag-input {
  width: 80px;
}
