/* CSS declarations go here */
.login-form.well {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login-form.well input {
    display: block;
    width: 95%
}

.cursorHand {
  cursor: hand !important;
  cursor: pointer !important;
}

input[data-action="add"]{
  box-shadow: none;
}